<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{css/login.css}" />
		<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
		<script type="text/javascript" th:src="@{js/jquery.js}" ></script>
        <script type="text/javascript" th:src="@{js/login.js}" ></script>
		</head>
	<body>
		<div class="all">
			<div class="box-form">
				<form class="form-login" th:action="@{/loginmain}" method="post" >
					<table class="table-form">
						<tr style="text-align: center;">
							<td colspan="2"><label><font face="arial black" size="5">登录</font></label></td>
						</tr>
						<tr>
							<td colspan="2"><input name="uId" id="u_id" type="text" class="form-control" placeholder="账号"/></td>
						</tr>
						<tr>
							<td colspan="2"><input name="uPassword" id="u_passwd" type="password" class="form-control" placeholder="密码" /></td>
						</tr>
						<tr>
							<td><button type="submit" class="btn btn-default" style="width: 120px;" onclick="login()">登录</button></td>
						    <td><button class="btn btn-default" style="width: 120px;"  href="register.html"><a th:href="@{register}" style="color: #000000;">注册</a></button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>
